
<table class="table table-dark table-sm">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Description</th>
      <th scope="col">Justification</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
<tr>
      <td>{{ request.user.lastName }}, {{ request.user.firstName }}</td>
      <td>{{ request.description }}</td>
      <td>{{ request.justification }}</td>
      <td>{{ request.total | currency }}</td>

    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-primary" routerLink="/lines/create/{{ request.id }}">
  Add LineItem
</button>

<table class="table table-dark table-sm">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lineItem of lineItems">
      <td>{{ lineItem.product.name }}</td>
      <td>{{ lineItem.quantity }}</td>
      <td>{{ lineItem.product.price * lineItem.quantity | currency }}</td>
      <td>
        <a routerLink="/request/detail/{{ request.id}}">Edit</a> |
        <a routerLink="">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
