
<div class="form-group row">
  <label class="col-form-label col-sm-2" for="user">User:</label>
  <input
    class="form-control col-sm-6"
    id="user"
    name="User"
    [(ngModel)]="request.user.username"
    name="User"
    id="user"
    placeholder="User"
    disabled
  />
</div>
<div class="form-group row">
  <label class="col-form-label col-sm-2" for="description">Description:</label>
  <input
    class="form-control col-sm-6"
    type="text"
    [(ngModel)]="request.description"
    name="Description"
    id="description"
    placeholder="Description"
    required
  />
</div>
<div class="form-group row">
  <label class="col-form-label col-sm-2" for="justification"
    >Justification:</label
  >
  <input
    class="form-control col-sm-6"
    type="text"
    [(ngModel)]="request.justification"
    name="Justification"
    id="justification"
    placeholder="Justification"
    required
  />
</div>
<div class="form-group row">
  <label class="col-form-label col-sm-2" for="dateNeeded">Date Needed:</label>
  <input
    class="form-control col-sm-6"
    type="date"
    [(ngModel)]="request.dateNeeded"
    name="DateNeeded"
    id="dateNeeded"
    placeholder="DateNeeded"
    required
  />
</div>
<div class="form-group row">
  <label class="col-form-label col-sm-2" for="deliveryMode"
    >Delivery Mode:</label
  >
  <input
    class="form-control col-sm-6"
    type="text"
    [(ngModel)]="request.deliveryMode"
    name="DeliveryMode"
    id="deliveryMode"
    placeholder="DeliveryMode"
  />
</div>
<button type="button" (click)="editRequest()" class="btn btn-success mb-2">
  Save
</button>
